@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.big-article-container:nth-child(1) > p {
  bottom: 15px;
  left: 30px;
  font-size: larger;
}

.big-article-container:nth-child(1) {
  height: 28rem;
}

.headline-background {
  text-shadow: black 0px 0px 10px;
}

.medium-preview {
  height: 14rem;
}

.big-article-img {
  height: 30rem;
}

@media only screen and (max-width: 600px) {
  .big-article-img {
    height: 14rem;
  }
}
